
.Final_work {
    padding-bottom: 41px;
    // min-height: 2849px;

    .Cource_participation {
        margin-top: 69px;
    }

    .Frequently_Asked_Questions {
        margin-top: 42px;
    }
}