
.Final_work {
    padding-top: 16px;
    padding-bottom: 33px;

    // min-height: 3496px;
    
    .Final_work_block {
        
        .split {
            flex-direction: column;
            gap: 10px;
            align-items: center;

            .image {
                width: 352px;
                margin-top: 0;
            }

            .text {
                width: auto;
                p,
                li {
                    font-size: 18px;
                    line-height: 18px;
                }
            }
        }

    }


    .How_is_the_training_going {
        margin-top: 31px;
        padding-bottom: 50px;
        

        ol {
            grid-template-columns: 100%;
            gap: 37px;
            padding: 10px 0 1px 51px;

            li {
                font-size: 18px;
                line-height: 22px;
                padding: 20 40px;
                height: auto;
                &.active {

                    &:after {
                        bottom: auto;
                        width: 10px;
                        height: 121px;
                        left: -40px;
                        top: 11px;
                    }
                }
                
                h4 {
                    margin-bottom: 0;
                }


            }

            .selected-line {
                @include animate-line(--training-box, 3, 154px, 330px, 0px, 8px, 135px);
            }
        }
    }


    .Student_reviews {
        margin-top: -20px;


        .carousel {
            margin-top: 6px;

            .coments {
                padding: 3px 14px;

                .box {
                    height: 376px;

                    .inner {
                        client-coment {
                            h2 {
                                font-size: 18px;
                            }

                            p {
                                font-size: 14px;
                                line-height: 19px;
                            }
                        }
                    }
                }
            }
        }


        
    }


    .Cource_participation {
        margin-top: 54px;
        gap: 30px;
        flex-direction: column;

        .part {
            padding: 0px 45px;

            h2 {
                margin-bottom: 23px;
                font-size: 30px;
                padding: 8px 0;
            }

            ol {
                line-height: 28.8px;
                font-size: 16px;
            }

            .price {
                margin-top: -4px;
                margin-bottom: 39px;
                font-size: 28px;
            }

            form {
                padding: 14.7px 0;

                .split {
                    justify-content: flex-start;
                    margin-top: 8px;

                    button {
                        padding: 7px 30px;
                    }
                } 

                .btn {
                    font-size: 13px;
                }

                label {
                    font-size: 12px;
                }
            }
        }
    }

    .Frequently_Asked_Questions {
        margin-top: 38px;
        
        .split {
            flex-direction: column;
            margin-top: -28px;
            gap: 0;

            .list {
                details {
                    font-size: 14px;
                    border-bottom: 5px solid #138147;
                    padding: 0px 10px 0px;
                }
            } 
        }
    }





}


.Certificate {
    padding: 0px 0 34px;


    .split {
        flex-direction: column;
        img {
            height: 231px;
        }

        p {
            font-size: 16px;
            width: 80%;
        }
    }
} 