

footer {
    padding-top: 100px;

    .line {

            
            .logotip {
            width: 214px;
        }

        .social_media {
            img {
                width: 26px;
            }
        }
        
        .doc {
            font-size: 12px;
        } 
    }
}