

footer {
    padding: 65px 0;

    .box_container {
        .line {
            .links {
                flex-direction: column;
                gap: 0px;
                align-items: flex-start;
            }

            .split {
                flex-direction: column;
                gap: 18px;

                .contacts {
                    text-align: right;
                }
            }
        }
    }

    .logotip {
        width: 214px;
    }

    .social_media {
        img {
            width: 26px;
        }
    }

    .doc {
        font-size: 12px;
    } 
}