
footer {
    padding: 79px 0;
    color: #F1F1F1;
    background: #000;
    @if($showTemplate){
        background: #0003;    
    }
    line-height: 25px;

    
    
    .box_container {
        .line {
            display: flex;
            gap: 20%;
            align-items: center;
            justify-content: space-between;
            
            .links {
                display: flex;
                gap: 50px;
                align-items: center;
                
                .social_media {
                    display: flex;
                    gap: 25px;
                    align-items: center;
                }
            }

            .split {
                display: flex;
                gap: 50px;
                flex: 1;
                justify-content: space-between;
            }

            .doc {
                text-align: right;
                color: #C9C9C9;
            }
        }
    }
}