.acquaintance_view {
    padding-bottom: 5px;    
    
    .Who_is_this_course_for {
        img {
            width: 210px;
        }
    }


    .Teacher {
        gap: 50px;

        img {
            width: 279px;
            height: 270px;
            margin: 52px 0px;
        }

        .info {
            margin-top: -25px;
        }
    } 
}

h3 {
    font-size: 28px;
}