
.acquaintance_view {
    padding-bottom: 42px;

    .Teacher {
        
        img {
            margin: 38.29999999999994px 13.800000000000002px;
        }

        ol {
            list-style: disc;
            margin: 0;
            padding: 0 30px;
            font-size: 20px;
        }
    }
}