.acquaintance_view {
    padding: 0;
    padding-bottom: 56px;
    
    .Who_is_this_course_for {
        padding: 3px 0 20px;

        ol {
            margin-top: -9px;

            li {
                width: 300px;
                margin-bottom: 52px;
                
                img {
                    width: 124px;
                }
            }
        }
    }


    .Teacher {
        align-items: center;
        flex-direction: column;
        gap: 27px;
        margin-top: -62px;

        .avatar {
            width: 100%;
            text-align: center;

            .header_2 {
                display: block;
                margin: 20px 0;
                width: 100%;
                text-align: left;
            }

            img {
                width: 216px;
                height: 216px;
                margin: -5px 0;
            }

        }

        .header_1 {
            display: none;
        }



        .info {
            margin-top: -25px;

            ol {
                font-size: 19px;
            }
        }
    } 
}

h3 {
    font-size: 24px;
    line-height: 30px;
}