.acquaintance_view {
    padding: 0;
    padding-bottom: 105px;
    
    .Who_is_this_course_for {
        padding: 9px 0 39px;

        img {
            width: 150px;
        }
    }


    .Teacher {
        gap: 50px;

        img {
            width: 238px;
            height: 238px;
            margin: 43px 0px;
        }

        .info {
            margin-top: -25px;
        }
    } 
}

h3 {
    font-size: 26px;
}