

.main_view {
    .box_container {
        .main_header {
            

            .logotip {
                width: 268px;
            }

            .navigator {
                display: flex;
                gap: 62.60000000000002px;
                margin:33px 0;
            }
        }

        .cource_info {
            margin-top: 35px;

            .description {
                margin-top: 28px;
                width: 70%;
            }
        }

        .additional_info {
            .navigator {
                padding: 17px 0;
                

                li {
                    padding: 14px 14px;
                    font-size: 17px;
                    height: 190px;
                }

                .selected-line {
                    // transform: translateX(calc(var(--main-module-box) * 155%));
                    @include animate-line(--main-module-box, 1, 232px, 0, 188px, 15px, 130px);
                    // bottom: 0;
                }
            }
        }

        .what_you_will_learn {
            padding: 20px 0;

            .im1 {
                width: 438px;
                margin-top: -20px;
            }

            .separate_row {
                gap: 40px;

                .grid {
                    margin-top: -48px;
                    gap: 32px;
                    grid-template-columns: 100%;

                    font-size: 18.2px;
                    padding: 31px 55px;

                    li {
                        strong {
                            margin-bottom: 19px;
                        }
                    }
                }
            }
        }
    }
}


h1 {
    font-size: 50px;
    line-height: 50px;


    .small {
        font-size: 39px;
    }
}

h2 {
    font-size: 30px;
}

p {
    line-height: 22px;
}