
.main_view {
    .box_container {
        .main_header {
            .navigator {
                gap: 64.89999999999999px;
                margin: 31.300000000000022px 0;
            }
        }


        .additional_info {
            .navigator {
                li {
                    padding: 34px 24px;
                }
            }
        }


        .what_you_will_learn {
            padding: 27px 0;
        }
    }
}