
.box_container {
    width: 300px;
}

.main_view {
    padding-bottom: 30px;

    .box_container {
        .main_header {
            display: none;
        }

        .cource_info {
            margin: 55px 7px 0;

            .description {
                margin-top: 37px;
                width: 100%;
            }


            .action {
                margin: 45px 0 42px 0;
                font-size: 18px;
                width: 162px;
                padding: 0px 12px;
                line-height: 32px;
                .btn {
                    margin-right: -110px;
                }
            }

        }

        .what_you_will_learn {
            padding: 0;
            margin: 0px 8px;

            .im1 {
                width: 100%;
                margin-right: 1px;
                margin-top: 7px;
            }

            .separate_row {
                flex-direction: column;
                gap: 36px;
                align-items: center;

                .grid {
                    padding: 21px 17px;
                    grid-template-columns: 100%;
                    gap: 21px;
                    line-height: 19.5px;
                    font-size: 18px;


                    li {
                        
                        strong {
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }

        .additional_info {
            margin: 0px 9px;

            .navigator {    
                padding: 0;
                flex-wrap: wrap;
                gap: 15px;

                li {
                    width: calc(50% - 8px);
                    padding: 12px 7px;
                    line-height: 17.1px;
                    height: 138px;
                    font-size: 14px;

                    strong {
                        margin-bottom: 1px;
                    }
                }

                .selected-line {
                    @include animate-line(--main-module-box, 0, 149px, 150px, 123px, 15px, 71px);
                }
            }
        }
    }
}

.separate_row {
    display: flex;
    gap: 42px;
}



h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 40.5px;
    margin: 10px 0;

    .small {
        font-size: 18.75px;
        line-height: 7.4px;
    }
}

h2 {
    padding: 26px 0 0;
    font-size: 24px;
}

.btn {
    font-size: 14px;
    padding: 4px 19px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

