
.btn {
    font-size: 18px;
    padding: 12px 50px;
    margin-right: -11px;
}


.main_view {
    padding-bottom: 16px;
    
    .box_container {
        .main_header {
            

            .logotip {
                width: 268px;
            }

            .navigator {
                gap: 16.600000000000023px;
                margin: 20.099999999999973px 0;
            }
        }

        .cource_info {
            margin-top: 35px;

            .action {
                margin: 58px 0 40px;

                font-size: 29px;
                line-height: 29px;
                width: 361px;


            }

            .description {
                margin-top: 28px;
                width: 90%;
            }
        }

        .additional_info {
            .navigator {
                padding: 17px 0;

                li {
                    padding: 9px 9px;
                    font-size: 16px;
                    line-height: 20px;
                    height: 172px;
                }

                .selected-line {
                    @include animate-line(--main-module-box, 1, 193px, 0, 167px, 15px, 130px);
                }
            }
        }

        .what_you_will_learn {
            padding: 34px 0;

            .im1 {
                width: 367px;
                margin-top: -32px;
            }

            .separate_row {
                gap: 34px;

                .grid {
                    margin-top: -59px;
                    gap: 6.799999999999999px;
                    grid-template-columns: 100%;

                    font-size: 18.2px;
                    padding: 22px 22px;

                    li {
                        strong {
                            margin-bottom: 7px;
                        }
                    }
                    
                }
            }
        }
    }
}


h1 {
    font-size: 50px;
    line-height: 50px;


    .small {    
        font-size: 39.1px;
    }
}

h2 {
    font-size: 30px;
}

p {
    line-height: 22px;
}