
.training_program {

    .scrolled {
        width: 1016px;

        .space {
            ol {
                gap: 57px;
            }
        }
    }

    .modules {
        
        .module {
            .split {
                .title {
                    
                    h4 {
                        width: 380px;
                    }
                }
            }
        }
    }
}