


.training_program {
    padding: 5px 0;
    padding-bottom: 47px;


    h2 {
        line-height: 31px;
        margin-top: -10px;
        font-size: 25px;
    }

    .scrolled {
        width: auto;
        margin-left: 20px;
        border-radius: 50px 0 0 50px;
        padding: 8px 7px 13px;
        border: 24px solid #fff;


        .space {
            width: auto;
            ol {
                gap: 35px;
                position: relative;

                li {
                    width: 168px;

                    img {
                        height: 155px;
                    }

                    .text {
                        font-size: 16px;
                        width: 200px;
                    }
                }
            }
        }
    }

    

    .modules {
        margin-top: 45px;
        height: 593px;

        .module {
            .split {
                flex-direction: column;
                justify-content: space-between;
                gap: 17px;

                .title {
                    width: 100%;

                    h3 {
                        font-size: 27px;
                        margin: 12px 0;
                    }

                    h4 {
                        font-size: 19.1px;
                        width: 100%;
                    }
                }

                .list {
                    line-height: 24.8px;
                    font-size: 16.3px;


                    flex-direction: column;
                    gap: 0;

                    margin-top: 6px;
                    margin-right: 0;

                    ol {
                        margin: 0 40px;
                    }

                    
                }
            }
        }
    }


    .footnote {
        margin-top: 24px;
        width: 282px;
        font-size: 15.7px;
        line-height: 20px;
        padding-top: 14px;
    }    
}
