
.training_program {
    padding: 90px 0;
    background: linear-gradient(236.1deg, #138147 41.79%, #000000 115.52%);
    padding-bottom: 120px;

    h2 {
        color: #FCCD49;
    }

    .scrolled {
        color: #1A1A1A;
        width: 1227px;
        margin: 60px auto;

        overflow-x: scroll;
        padding: 40px 40px 80px;
        background: #fff;
        border: 50px solid #fff;
        margin-bottom: 60px;
        border-radius: 40px;
        position: relative;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            width: 12px;               /* ширина scrollbar */
        }
            
        &::-webkit-scrollbar-track {
            background: #D9D9D9;        /* цвет дорожки */
            border: 4px solid #fff;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #35B568;    /* цвет плашки */
            border-radius: 20px;       /* закругления плашки */
        }
        


        .space {
            width: 5000px;
            height: 300px;
            display: flex;
            box-sizing: border-box;
            

            ol {
                position: webkit-sticky;
                position: sticky;
                left: 0;

                margin: 0;
                padding: 0;
                display: flex;
                gap: 130px;
                list-style: none;

                li {
                    width: 300px;
                    height: 300px;

                    cursor: pointer;
                    filter: grayscale(1);

                    transition: all .3s;
                    &.active {
                        filter: grayscale(0);
                    }

                    &:hover {
                        filter: grayscale(0);
                    }

                    text-align: center;

                    .text{
                        strong {
                            display: block;
                            
                            font-size: 30px;
                            font-weight: 500;
                            line-height: 36px;
                            letter-spacing: 0em;
                            // text-align: center;
                            margin-bottom: 18px;
                        }
                        
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 26px;
                        letter-spacing: 0em;
                        text-align: left;

                        width: 272px;
                        margin-bottom: 23px;
                        height: 106px;
                    }




                    img {
                        border: 1px solid #fff;
                        height: 190px;
                    }
                    

                }
            }
        }
    }




    .modules {
        margin-top: 47px;
        height: 270px;
        position: relative;

        .module {
            position: absolute;
            width: 100%;
            top: 0px;
            visibility: hidden;
            opacity: 0;
            transition: all .3s;
            &.active {
                visibility: visible;
                opacity: 1;
            }

            .split {
                display: flex;
                justify-content: flex-start;
                gap: 40px;

                .title {
                    // width: 30%;
                    // flex: 1;

                    h3 {
                        font-size: 30px;
                        font-weight: 700;
                        line-height: 36px;
                        letter-spacing: 0em;
                        text-align: left;
                    }

                    h4 {
                        font-size: 22.8px;
                        font-weight: 700;
                        line-height: 30px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin: 0;
                            width: 380px;
                    }
                }

                .list {
                    font-size: 10px;
                    display: flex;
                    gap: 50px;


                    font-size: 20.5px;
                    font-weight: 400;
                    line-height: 34px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: 16px;
                    

                    ol {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }

    .footnote {
        margin-top: 86px;
        padding-top: 20px;
        
        padding-left: 7px;
        position: relative;
        border-top: 9px solid #BEFFA9;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        width: 585px;

    }
}