@import "./varibles";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./fonts/font-size";
@import "./new_style_course/Courses/form";
@import "./new_style_course/Courses/pop_up_form";
@import "./new_style_course/Courses/head_banner_info";
@import "./new_style_course/Courses/what_you_will_learn";
@import "./new_style_course/Courses/who_is_this_course";
@import "./new_style_course/Courses/training_programm";
@import "./new_style_course/Courses/final_work";
@import "./new_style_course/CorporateClients/corp_clients";
@import "./new_style_course//PreRegPage/prereg_form.scss";
@import "./fonts/Golos.scss";
@import "fonts/font";

@mixin btn($bg, $hover-bg, $color, $hover-color, $border: none, $hover-border: none) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(18px - 0.1rem);
  color: $color;
  background: $bg;

  @if $border ==none {
    border: none;
  }

  @else {
    border: 1px solid $border;
  }

  &:hover {
    color: $hover-color;
    background: $hover-bg;

    @if $border ==none {
      border: none;
    }

    @else {
      border: 1px solid $hover-border;
    }
  }

  white-space: nowrap;
}

.btn-secondary {
  @include btn(#4763d5, #ff5500, #fff, #fff);
}

.btn-primary {
  @include btn(#ff5500, #4763d5, #fff, #fff);
}

.btn-outline-dark {
  @include btn(#fff, #000000, #000000, #fff, #000000);
}

.btn-primary-white {
  @include btn(#ff5500, #fff, #fff, #000);
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000;
}

.text-orange {
  color: #FF4800;
}


.nav nav .blue-link {
  color: #4763d5;
}

.logo-footer {
  width: 39px;
  height: 39px;
}