@import "./varibles";
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import "./new_style_course/form";
@import './new_style_course/head_banner_info';
@import './new_style_course/what_you_will_learn';
@import './new_style_course/who_is_this_course';
@import './new_style_course/teacher';
@import './new_style_course/training_programm';
@import './new_style_course/final_work';
@import './fonts/Golos.scss';
@import 'fonts/font';

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #4763D5;
  --bs-btn-border-color: #4763D5;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FF5500;
  --bs-btn-hover-border-color: #FF5500;
  --bs-btn-focus-shadow-rgb: 150, 38, 223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FF5500;
  --bs-btn-active-border-color: #FF5500;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4763D5;
  --bs-btn-disabled-border-color: #4763D5;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #FF5500;
  --bs-btn-border-color: #FF5500;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4763D5;
  --bs-btn-hover-border-color: #4763D5;
  --bs-btn-focus-shadow-rgb: 217, 72, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4763D5;
  --bs-btn-active-border-color: #4763D5;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4763D5;
  --bs-btn-disabled-border-color: #FF5500;
}

.btn-outline-dark {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #000000;
  --bs-gradient: none;
}

.btn-primary-white {
  background-color: #FF5500;
  --bs-btn-color: #fff;
  --bs-btn-border-color: #FF5500;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fff;
  --bs-gradient: none;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

h1 {
  font-family: 'Golos';
  font-weight: 400;
  font-size: 48px;
  line-height: 45.94px;
}

h2 {
  font-family: 'Golos';
  font-size: 32px;
  line-height: 30.62px;
}

h3 {
  font-family: 'Golos';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

h5 {
  font-family: 'Golos';
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

p {
  font-family: 'Golos';
  font-size: 20px;
}

li {
  font-family: 'Golos';
}

span {
  font-family: 'Golos';
}

strong {
  font-family: 'Golos';
}

@media screen and (max-width: 1140px) {
  h1 {
    font-family: "Golos";
    font-weight: 400;
    font-size: 46px;
    line-height: 56.94px;
  }

  h2 {
    font-family: "Golos";
    font-size: 32px;
    line-height: 30.62px;
  }

  h3 {
    font-family: "Golos";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  h5 {
    font-family: "Golos";
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
  }

  h6 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
  }

  p {
    font-family: "Golos";
    font-size: 18px;
  }

  li {
    font-family: "Golos";
  }

  span {
    font-family: "Golos";
  }

  strong {
    font-family: "Golos";
  }
}

.nav nav .blue-link {
  color: #4763D5;
}