.banner_corp_clients {
  background-image: url(/images/corp-client-banner.png);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 40px;

  .banner_corp_clients_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    p {
      color: #ffff;
    }

    .banner_corp_clients_info_title {
      color: #ffff;
    }

    .banner-content {
      p {
        top: -15%;
        width: 75%;
        position: relative;
      }
    }
  }
}

@media screen and (max-width:767px) {
  .banner_corp_clients {
    .banner_corp_clients_info {
      .banner-content {
        P {
          top: -15%;
          width: 90%;
        }
      }
    }
  }
}

.solutions_corp_client {
  li {
    width: 31%;
    padding: 30px;
    border: 1px solid #4763d5;
    border-radius: 16px;

    strong {
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1140px) {
  .solutions_corp_client li {
    margin-top: 20px;
    width: calc(48% - 0.3rem);
  }
}

@media screen and (max-width: 768px) {
  .solutions_corp_client li {
    margin-top: 20px;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .solutions_corp_client li {
    strong {
      width: 75%;
    }
  }
}

.gradient {
  background-image: url(/images/f2/bg.png);
  background-size: cover;
}


.carousel-inner-cases-corp-clients {
  .cases-corp-clients-left-block {
    width: calc(30% - 0.3em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;

    img {
      width: calc(297px - 1.5rem);
      height: calc(297px - 1.5rem);
    }

    button {
      width: 75%;
    }
  }

  .cases-corp-clients-right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(70% - 0.3em);
    gap: 20px;
    padding-left: 0;
    margin-top: 16px;

    .list-cases {
      .case-list {
        padding-left: 1.5rem;

        h4 {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1139px) {
  .carousel-inner-cases-corp-clients {
    .cases-corp-clients-left-block {
      padding: 0;
      width: 100%;


      img {
        width: 254px;
        height: 254px;
      }

      button {
        width: 100%;
      }
    }

    .cases-corp-clients-right-block {
      width: 100%;
      padding-right: 0;

      .list-cases {
        .case-list {
          padding-left: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .carousel-inner-cases-corp-clients {
    padding: 40px;

    .cases-corp-clients-left-block {
      padding: 0;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 30px;

      h2 {
        width: 90%;
      }

      img {
        width: calc(210px - 0.3vw);
        height: calc(210px - 0.3vw);
      }
    }

    .cases-corp-clients-right-block {
      width: 100%;
    }
  }
}


@media screen and (max-width: 767px) {
  .carousel-inner-cases-corp-clients {
    padding: 40px 80px 40px 20px;

    .cases-corp-clients-left-block {
      padding: 0;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 30px;

      h2 {
        width: 90%;
      }

      img {
        width: calc(166px - 0.3vw);
        height: calc(166px - 0.3vw);
      }

      button {
        width: 70%;
      }
    }

    .cases-corp-clients-right-block {
      width: 100%;

      .list-cases {
        .case-list {
          padding-left: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .carousel-inner-cases-corp-clients {
    padding: 40px 80px 40px 20px;

    .cases-corp-clients-left-block {
      padding: 0;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 30px;

      h2 {
        width: 90%;
      }

      img {
        width: calc(166px - 0.3vw);
        height: calc(166px - 0.3vw);
      }

      button {
        width: 70%;
      }
    }

    .cases-corp-clients-right-block {
      width: 100%;

      .list-cases {
        .case-list {
          padding-left: 1.5rem;
        }
      }
    }
  }
}


.corp-clients-carousel-prev {
  position: absolute;
  left: 2%;
  width: 0;
}

.corp-clients-carousel-next {
  position: absolute;
  right: 2%;
  width: 0;
}

@media screen and (max-width:992px) {
  .corp-clients-carousel-prev {
    // left: -12%
  }

  .corp-clients-carousel-next {
    // right: -12%
  }
}

@media screen and (max-width:568px) {
  .corp-clients-carousel-prev {
    // left: -20%
  }

  .corp-clients-carousel-next {
    // right: -20%
  }
}

.reg_form_corp_clients {
  background: linear-gradient(180deg, #4763d5 0%, #000000 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 40px 50px;
  color: #fff;
}

@media screen and (max-width:1140px) {
  .reg_form_corp_clients {
    width: 55%;
    margin: 0 auto;
    padding: 40px 50px;
  }
}

@media screen and (max-width:992px) {
  .reg_form_corp_clients {
    width: 100%;
    margin: 0 20px;
    padding: 40px 50px;
  }
}

@media screen and (max-width:568px) {
  .reg_form_corp_clients {
    padding: 10px 20px;
  }
}

.corp-clients-arrow-container {
  position: relative;
  width: 180px;
  // height: 162px;
}

.corp-clients-arrow {
  position: absolute;
  left: -90px;
  top: -100px;
  rotate: -10deg;
}

.individual-block-number {
  flex-direction: column;

  div {
    h3 {
      width: 75%;
    }

    h4 {
      width: 50%;
    }
  }
}

@media screen and (max-width:1439px) {
  .individual-block-number {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;

    div {
      gap: 0;
      width: calc(47% - 0.3rem);

      h4 {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width:992px) {
  .individual-block-number {
    div {
      width: 100%;

      h3 {
        width: 100%;
      }

      h4 {
        width: 50%;
      }
    }
  }
}

.banner-content {
  p {
    top: -15%;
  }
}

.banner-img {
  img {
    width: 100%;
  }
}

@media screen and (max-width:991px) {
  .banner-img {
    img {
      width: 50%;
    }
  }
}

@media screen and (max-width:767px) {
  .banner-img {
    img {
      width: 65%;
    }
  }
}

@media screen and (max-width:575px) {
  .banner-img {
    img {
      width: 100%;
    }
  }
}