
.stick-header {

    .main_header {

        
        .navigator {
            gap: 25px;
            
            .btn {
                font-size: 13px;
                line-height: 13px;
            }
        }
    }

}