.fullscreen_form {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    margin-top: 180px;
    // position: absolute;
    // transform: translate(-50%, -50%);
    // top: 50%;
    // left: 50%;
}

.success_form {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.welcome_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 400;
    color: #4763D5;
}

.input_form {
    border: 1px solid #4763D5;
    border-radius: 11px;
    padding: 8px 24px;
    color: #A0A0A0;
    font-size: 18px;
    font-weight: 400;
    outline: none;

    &:focus {
        border: 1px solid #FF5500;

    }
}

.form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #FF5500;
    border-radius: 11px;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 400;

    &:hover {
        background: #4763D5;
    }
}

.error {
    color: red;
    font-size: 13px;
}

.hidden {
    display: none;
}

input:valid:not(:placeholder-shown) {
    border-color: green;
}

input:invalid:not(:placeholder-shown) {
    border-color: red;
}

.checkbox_accept,
.checkbox_accept+label::before {
    width: 12px !important;
    height: 12px !important;
    background-size: 20px 20px !important;
}

.text_accept {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
}



.name_course {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(71, 99, 213, 0.3);
    padding: 0 10px 0 0;
    position: relative;

    strong {
        font-weight: 400;
        line-height: 40px;
        font-size: 16px;
        color: #000000;
    }
}

.checkbox-other {
    display: flex;
    align-items: center;
    line-height: 22px;
    // cursor: pointer;
    user-select: none;
    position: relative;
}

.checkbox_course,
.checkbox_accept {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox_course+.checkbox-other__label,
.checkbox_accept+.checkbox-other__label {
	display: inline-block;
    position: relative; 
    align-items: center;
    user-select: none;
    width: 20px;
    height: 20px;
    border: 1px solid #4763D5;
    background-color: #FFFFFF;
    border-radius: 0.25em;
    margin-right: 0.5em;
}

.checkbox_course:checked+.checkbox-other__label,
.checkbox_accept:checked+.checkbox-other__label {
    box-shadow: 0px 0px 4px #4763D5;
}

.checkbox_course+.checkbox-other__label span,
.checkbox_accept+.checkbox-other__label span {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
}

.checkbox_course:checked+.checkbox-other__label span,
.checkbox_accept:checked+.checkbox-other__label span {
    transform: translate(-15%, -25%);
    background-size: 25px 20px;
    opacity: 1;
    background-image: url(/images/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 1024px) {
    .fullscreen_form {
        background: #FFFFFF;
        border-radius: 0px;
        padding: 2rem;
        // top: 90%;
        width: 100%;
        height: 100%;
    }

    .success_form {
        background: #FFFFFF;
        border-radius: 0px;
        padding: 2rem;
    }
}

.bg_pic {
    // z-index: 1500;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    background-position: 0px 90px;
    background: url(/images/form_bg.png) no-repeat;
    background-size: cover;
    // background: radial-gradient(66.38% 141.5% at 86.86% 39.18%, rgba(71, 99, 213, 0.7) 6.87%, rgba(0, 0, 0, 0.7) 100%);
}

@media screen and (max-width: 1024px) {
    .bg_pic {
        backdrop-filter: none;
        position: initial;
    }

    .fullscreen_form {
        position: initial;
        transform: initial;
        left: 0;
        top: 0;
        margin-top: 0;
    }
}