// .teacher {
//     gap: 3rem;

//     img {
//         max-width: 320px;
//     }
// }

.header_2 {
    display: none;
}

.header_1 {
    display: block;
}

@media screen and (max-width: 768px) {
    .header_2 {
        display: block;
    }

    .header_1 {
        display: none;
    }

    .teacher {
        gap: 0px;
    }
}