<!DOCTYPE html>
<html lang="en">

[[$head_courses]]

<body>
    <div class="main_view" id="top">
        [[!$top_nav_template]]
        [[!$head_banner]]
        [[!$section_what_you_will_learn_template]]

        [[!$section_who_is_this_course_for_template]]

        [[!$section_teacher_template]]

        [[!$section_training_program_template]]

        [[!$section_final_work_template]]

        [[!$section_certificate_template]]

        [[!$footer_course_template]]


    </div>
</body>

</html>