<!DOCTYPE html>
<html lang="en">

[[$head_courses]]

<body>
    [[!$top_nav_sticky_template]]
    <div class="main_view" id="top">
        <div class="box_container">
            [[!$top_nav_template]]
            [[!$section_course_info_template]]
            [[!$section_additional_info_template]]
            [[!$section_what_you_will_learn_template]]
        </div>
    </div>

    <div class="acquaintance_view">
        <div class="box_container">

            [[!$section_who_is_this_course_for_template]]

            [[!$section_teacher_template]]

        </div>
    </div>

    [[!$section_training_program_template]]

    [[!$section_final_work_template]]

    [[!$section_certificate_template]]

    [[!$footer_course_template]]

    [[!$footer_scripts]]

</body>

</html>