.training_program {
    background-image: url(/images/bg_2.png);
    background-size: cover;
    padding: 90px 0;
    padding-bottom: 120px;

    @media screen and (max-width:767px) {
        & {
            padding: 30px 0;
        }
    }
}

.module.active {
    margin-top: 15px;
    display: block;
}

.module {
    display: none;
    width: 100%;
    top: 0px;
    transition: all 0.3s;

    .split {
        display: flex;
        justify-content: flex-start;

        .title {
            h3 {
                text-align: left;
                color: #fff;
            }

            h4 {
                text-align: left;
                margin: 0;
                color: #fff;
            }
        }

        .list {
            color: #fff;
            margin-top: 16px;
            padding: 0 10px;
            gap: 10px 0;

            @media (min-width:992px) {
                & {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    text-align: left;
                    margin-top: 16px;
                    color: #fff;
                    gap: 10px 20px;
                }
            }

        }

    }

}

.modules_more_3 {

    li {
        width: 47%;
        padding: 20px 30px;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 16px;

        strong {
            margin-bottom: 20px;
        }
    }

    li.active {
        color: #1A1A1A;
        background: #FFFFFF;
    }
}

.steps_for_reg {

    li {
        width: 31%;
        padding: 20px 30px;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 16px;

        strong {
            margin-bottom: 20px;
        }
    }
}

.footnote {
    color: #fff;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    padding: 30px;
    margin-top: 60px;
}


@media screen and (max-width:992px) {
    .steps_for_reg li {
        margin-top: 20px;
        width: calc(48% - 0.3rem);
    }
}

@media (max-width:767px) {
    .modules_more_3 li {
        margin-top: 20px;
        width: 100%;
    }

    .modules {
        margin-top: 20px;
    }
}

@media screen and (max-width:568px) {
    .steps_for_reg li {
        width: 100%;
    }
}

@media screen and (min-width:768px) {
    .modules_more_3 li {
        margin-top: 20px;
    }
}