.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  background: none;
  border-radius: 15px;
  letter-spacing: 0em;
  list-style: none;
  padding: 40px;
  margin: 0;
  gap: 21px;
  border: 1px solid #4763d5;
}

@include media-breakpoint-down(md) {
  .grid {
    grid-template-columns: 100%;
    gap: 5px;
    padding: 20px;
  }
}
