<<<<<<< HEAD
@font-face {
	font-family: "Golos";
	src: 
		url('../../fonts/Golos-Text/golos-text_regular.woff2') format('woff2'),
		url('../../fonts/Golos-Text/golos-text_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
=======
@font-face {
	font-family: "Golos";
	src: 
		url('../../fonts/Golos-Text/golos-text_regular.woff2') format('woff2'),
		url('../../fonts/Golos-Text/golos-text_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
>>>>>>> remotes/origin/master
}